<table class="table table-hover table-inverse">
  <tr>
<th>Order Date</th>
<th>Description</th>
<th>Street</th>
<th>City</th>
<th>State</th>
<th>Zip</th>
<th>Address Type</th>
<th>First Name</th>
<th>Last Name</th>
</tr>
<tr ng-repeat='order in orders.orders'>
  <td ng-model='order.order_date' >{{order.order_date}}</td>
  <td ng-model='order.description'>{{order.description}}</td>
  <td ng-model='order.street'>{{order.street}}</td>
  <td ng-model='order.city'>{{order.city}}</td>
  <td ng-model='order.state'>{{order.state}}</td>
  <td ng-model='order.zip'>{{order.zip}}</td>
  <td ng-model='order.address_type'>{{order.address_type}}</td>
  <td ng-model='order.first_name'>{{order.first_name}}</td>
  <td ng-model='order.last_name'>{{order.last_name}}</td>
</tr>
</table>
